* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  min-height: 100vh;
  color: #333;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #222;

}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  animation: slideUp 1s ease;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 25px;
  color: #555;
}

button {
  padding: 14px 25px;
  border: none;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* RESULT */
.result {
  margin-top: 25px;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease;
}

.result.show {
  opacity: 1;
  transform: translateY(0);
}

.result div {
  margin: 10px 0;
  font-size: 15px;
}

.result span {
  color: #777;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: rgba(255,255,255,0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}

/* ANIMATION */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}