body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 500px;
    margin: 15px 50px;
    background: #565050;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.settings {
    text-align: center;
    margin-bottom: 25px;
}

.button {
    padding: 6px 10px;
    font-size: 14px;
}

#paragraph {
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
}

.info {
    margin-top: 10px;
    font-size: 16px;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}