* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    
}


.logo img {
    height: 38px;
}


.nav {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    
}

.nav a:hover {
    color: #ff6a00;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: -100px;
}


.btn {
    background: #ff6a00;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    
}
.header-btn {
  display: inline-block;
  text-decoration: none;
    background: #ff6a00;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}


.header-btn:hover {
    background: #e65c00;
}


.phone {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-left: 8px;
    text-decoration: none;
}
.hero{
  width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
}

.slides{
  position:absolute;
  inset:0;
  z-index:1;
}

.slides::before{
  content:"";
  position:absolute;
  inset:0;
  background:inherit;
  background-size:cover;
  background-position:center;
}

.slides.active{
  opacity:1;
  z-index:1;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  width:70%;
  height:100%;
  z-index:2;

  background:linear-gradient(90deg, rgba(0,0,0,0.85) 40%, rgba(0,0,0,0.15) 100%);

  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.content{
  position:absolute;
  top:50%;
  left:7%;
  transform:translateY(-50%);
  color:#fff;
  max-width:600px;
    z-index:3;

}

.content h1{
  font-size:64px;
  line-height:1.1;
  margin-bottom:25px;
}

.content p{
  font-size:18px;
  letter-spacing:1px;
}

.content span{
  color:#ff7a18;
  margin:0 10px;
}

.dots{
  position:absolute;
  bottom:30px;
  left:7%;
  display:flex;
  gap:10px;
  z-index:5;
}

.dot{
  width:12px;
  height:12px;
  background:#aaa;
  border-radius:50%;
}
.hero-image {
  position: absolute;
  right: 5%;
  bottom: 0;
  z-index: 4; 
}


.hero-image img {
  max-height: 85vh;
  width: auto;
}

.dot.active{
  width:35px;
  background:#ff7a18;
  border-radius:20px;
}
.one{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #1B1B1B;
}
.img1{
    width: 500px;
    height: 600px;
    margin: 20px;
    opacity: 0.5;
}
.container1{
    width: 50%;
    padding: 30px;
    margin-top: 40px;
}
.container1 h2{
    text-align: right ;
    color: white;
    font-size: 40px;
    margin-left: 40px;
    
}
.one-two{
    width: 100%;

   
}
.container2{
    display: flex;
    justify-content: center;
    margin-left: -50px;
    
}
.container3{
    padding: 30px;
    margin-top: 50px;
    transform: translateY(200px);
}
.container3 p{
    color: white;
}
.know{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #ff7a18;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}
.img2{
    transform: translateY(100px);
}
.container5{
    margin-top: 50px;
    transform: translateY(100px);
    
}
table{
    border-collapse: collapse;
}
thead tr th{
    border: 1px solid white;
    width: 180px;
    height: 100px;
    color: white;
    text-align: center;

}
thead tr th h3{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
    
}
thead tr th h3:hover{
    color: #F6CF34;
}
.steps-section {
  position: relative;
  background: url(../images/career\ background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 40px;
  color: #fff;
}

.steps-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.steps-section .container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.section-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 70px;
}

.section-title span {
  color: #ff7a00;
}
.svg{
    width: 100px;
    height: 100px;
    filter: brightness(0) invert(1);
}

.steps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: start;
  gap: 20px;
}

.step {
  grid-column: span 1;
  color: white;
}

.step h3 {
  margin-top: 15px;
  font-size: 20px;
}

.step p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}


.arrow {
  position: relative;
  top: 45px;
  overflow: hidden;
  white-space: nowrap;
}

.arrow::before {
  content: "➜ ➜ ➜ ➜ ➜";
  color: #ff7a00;
  letter-spacing: 8px;
  font-size: 18px;
  display: inline-block;
  animation: moveArrow 1.5s linear infinite;
}

/* animation */
@keyframes moveArrow {
  0% {
    transform: translateX(-20px);
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0.3;
  }
}

.cta-btn {
  margin-top: 60px;
  background: #ff7a00;
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Footer Styles */
.footer {
    background: #222327;
    color: #fff;
}


.footer-top {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    padding-left: 155px;
    display: flex;
    gap: 40px;
}

.footer-col {
    flex: 1;
}

.brand-logo {
    width: 140px;
    margin-bottom: 15px;
}

.footer-col h4 {
    color: #ff7a18;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

.footer-col a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

.footer-col a:hover {
    color: #ff7a18;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}


.cert-section {
    background: #ffffff;
    width: 70%;
    margin: 20px auto;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border-top: 1px solid #333; 
    border-radius: 6px;
}

.cert-section img {
    height: 100px;
}


.footer-bottom {
    width: 90%;
    margin: 20px;
    padding: 15px 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.anime{
    width: 100%;
    overflow: hidden;
}
.company{
    display: flex;
    gap: 50px;
    width: max-content;
    animation: scroll 20s linear infinite;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

 .testimonials {
  background: #1f2227;
  color: #fff;
  text-align: center;
  padding: 90px 20px;
}

.testimonials h4 {
  color: #aaa;
}

.testimonials h2 {
  font-size: 42px;
  margin-bottom: 60px;
}

.testimonials span {
  color: #ff7a00;
}



.testimonial-section {
  padding: 80px 40px;
}


.testimonial-row {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.testimonial-card {
  flex: 0 0 45%;
  background: #20242b;
  padding: 30px;
  border-radius: 14px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow:
    0 0 0 1px rgba(80, 120, 255, 0.25),
    0 0 25px rgba(80, 120, 255, 0.15);
}
.testimonial-card:hover {
  margin-top: 40px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}


.testimonial-card::after {
  content: "“";
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.05);
}


.testimonial-card h5 {
  font-weight: 600;
  margin-bottom: 8px;
  color: white;
}
.testimonial-card h5:hover{
    color: #ff7a00;
}

.stars {
  color: #ff7a00;
  margin-bottom: 15px;
}
.carousel{
     padding-bottom: 90px;
}


#testimonialCarousel .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: none;
  opacity: 0.6;
  margin: 0 6px;
  transition: all 0.3s ease;
}


#testimonialCarousel .carousel-indicators .active {
  background-color: #ff7a00;
  opacity: 1;
  transform: scale(1.3);
}




.testimonials p{
    text-align: center;
    color: white;
    font-size: 20px;
}
.testimonials h3{
    font-size: 40px;
}

.small{
    width: 100%;
    overflow: hidden;
}
.idea{
    display: flex;
    gap: 50px;
    width: max-content;
    animation: scrollit 20s linear infinite;
}
.idea li{
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}
.idea li:hover {
    transform: rotate(-3deg) translateY(-4px);
    list-style: none;
}
@keyframes scrollit{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.services-section {
  background: linear-gradient(90deg, #1b2f63 0%, #121212 40%);
  color: #ffffff;
  padding: 80px 60px;
  font-family: Arial, Helvetica, sans-serif;
}

/* TOP */
.services-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.services-left .small-title {
  font-size: 18px;
  opacity: 0.8;
}

.services-left h2 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 10px;
}

.services-left h2 span {
  color: #ff7a18;
}

.services-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.divider {
  width: 4px;
  height: 70px;
  background: #ffcc00;
}

.services-right p {
  max-width: 340px;
  font-size: 16px;
  line-height: 1.6;
  color: #dddddd;
}

.view-btn {
  background: #1e2746;
  padding: 14px 26px;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* BOTTOM */
.services-bottom {
  display: flex;
  gap: 60px;
}

/* IMAGE */
.image-box {
  width: 40%;
}

.image-box img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

/* LIST */
.services-list {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.service-name {
  font-size: 20px;
  font-weight: 700;
}

.service-num {
  font-size: 42px;
  font-weight: 800;
  opacity: 0.9;
}

.service-name:hover{
background: linear-gradient(yellow, lightpink);
background-clip: text;
color: transparent;
  
}
.service-num:hover{

  background: linear-gradient(135deg, #f6f7f5, #ff7a18);
  border-radius: 100%;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.bot{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
  height: 60px;
  background:white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  z-index: 1000;
}