* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #020617;
  color: white;
}


nav {
  position: fixed;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}


.hero {
  height: 100vh;
  position: relative;
}

.hero .btn {
  margin-top: 30px;

}
.hero-content .btn {
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 30px;
  
}


.slides {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 1s;
}

.slides.active {
  opacity: 1;
}

.hero-content {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.hero-content h1 {
  font-size: 3.5rem;
}


.section, .gallery, .testimonials, .contact {
  padding: 100px 80px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 560px;
  height: 350px;
  text-align: center;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 30px #38bdf8;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 15px;
  transition: 0.4s;
}

.gallery-grid img:hover {
  transform: scale(1.1);
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.testimonial {
  width: 300px;
  padding: 25px;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.btn {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg,#38bdf8,#22c55e);
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}


.hidden {
  opacity: 0;
  transform: translateY(40px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  z-index: 999;
}


.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 30px;
  width: 380px;
  border-radius: 20px;
  transform: scale(0.7);
  transition: 0.4s;
  color: white;
}

.modal.active .modal-box {
  transform: scale(1);
}

.close-btn {
  font-size: 26px;
  float: right;
  cursor: pointer;
}


.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.modal-form input,
.modal-form select {
  padding: 12px;
  border-radius: 10px;
  border: none;
}



#successMsg {
  margin-top: 15px;
  text-align: center;
  color: #22c55e;
  font-size: 1.1rem;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.5s ease;
}


#successMsg.show {
  opacity: 1;
  transform: scale(1);
}


