*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#13110e;
  color:white;
  overflow-x:hidden;
}

/* LOADER */
#loader{
  position:fixed;
  inset:0;
  background:#020617;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}
#loader h1{
  color:#38bdf8;
  animation:pulse 1.5s infinite;
}
@keyframes pulse{
  50%{opacity:0.4}
}

/* CURSOR */
.cursor{
  width:18px;
  height:18px;
  border:2px solid #38bdf8;
  border-radius:50%;
  position:fixed;
  pointer-events:none;
  transform:translate(-50%,-50%);
  z-index:10000;
}

/* PROGRESS */
.progress{
  position:fixed;
  top:0;
  left:0;
  height:4px;
  background:#38bdf8;
  width:0%;
  z-index:999;
}

/* HEADER */
.header{
  position:fixed;
  width:100%;
  padding:20px 80px;
  display:flex;
  justify-content:space-between;
  backdrop-filter:blur(10px);
  z-index:100;
}
.logo span{color:#38bdf8}
nav a{
  margin:0 15px;
  color:white;
  text-decoration:none;
}

/* HERO */
.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.hero h1{
  font-size:55px;
}
.hero span{color:#38bdf8}
.hero button{
  margin-top:25px;
  padding:14px 30px;
  background:#38bdf8;
  border:none;
  cursor:pointer;
}
.hero button:hover{
  background:#0546e0;
  color:#ffffff;
}
.about{
  background: linear-gradient(135deg, #020617,#020617);
    
}
.about h2 {
    margin-bottom:20px;
}
.about p {
    font-size: 18px;
    line-height: 1.6;
}



/* SECTIONS */
section{
  padding:120px 80px;
  text-align:center;
  
}
.skills{
  background: linear-gradient(135deg, #0f172a, #020617);
}

/* SKILLS */
.skill-box{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  margin-top:40px;
}
.skill{
  padding:20px;
  border:1px solid #38bdf8;
  transition:0.4s;
}
.skill:hover{
  background:#38bdf8;
  color:black;
}

/* TIMELINE */

.timeline{
  background: radial-gradient(circle at top, #0f172a, #020617);
}
.timeline{

  position:relative;
}


.line{
  border-left:3px solid #38bdf8;
  margin-left:40px;
}
.event{
  margin:30px;
}
.event span{
  color:#38bdf8;
  font-weight:bold;
}

/* PROJECTS */
.projects{
  background: linear-gradient(135deg, #4d5473, #00267e);
}

.projects h2{
  margin-bottom:50px;
}
.project-box{
  display:flex;
  justify-content:space-between;
}

.card{
  width:30%;
  padding:40px;
  background:#020617;
  border:1px solid #38bdf8;
  transition:0.4s;
}
.card:hover{
  transform:rotateY(15deg) translateY(-10px);
  box-shadow:0 0 25px #38bdf8;
}

/* CONTACT */
.contact h2{
  margin-bottom:30px;
}
.contact input, textarea{
  width:60%;
  margin:10px 0;
  padding:12px;
}
.contact button{
  display: grid;
  margin:20px auto 0;
  padding:12px 25px;
  background:#38bdf8;
  border:none;
  cursor:pointer;
}
.contact button:hover{
  background:#0546e0;
  color:#ffffff;
}

/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}
.reveal.active{
  opacity:1;
  transform:none;
}

footer{
  padding:20px;
  text-align:center;
}